.conteGroup{
    border: 1px solid black;
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-bottom: 2rem;
}
.nameGols{
    display: block;
    width: 100%;
}
.conteGols{
    display: flex;
    justify-content: space-around;
}
.conteTeam{
    margin: 0 auto;
}