.conteGroup{
    border: 12px solid #742f37;
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-bottom: 2rem;
}
.nameGols{
    display: block;
    width: 100%;
}

.conteGols{
    display: flex;
    justify-content: space-around;
}
.conteTeamInfo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.right {
    display: flex;
    flex-direction: column;
}
.lef {
    display: flex;
    flex-direction: column;
}
.titInfo{
    display: flex;
    justify-content: center;
    margin-top: 2px;
    margin-bottom: 11px;
}
#aColor{
    color:black;
}