.conteinerP{
    display: flex;
}
.conteMatchs{
    border: 12px solid white;
    margin: 1em;
}
img{
    width: 6em;
    height: 4em;
    border: 1px solid black;
}
.conteTeam{
    width: 41.4em;
    display: flex;
    justify-content: space-between;
}
button{
    text-align: center;
}
.datePtd{
    margin-top: 37px;
    display: flex;
    flex-direction: row-reverse;
}