.conteinerMU{
    margin-left: 25%;
    width: 50%;
    display: flex;
    flex-direction: column;
}
.conteMatchs{
    border: 12px solid #742f37;
    margin: 1em;
}
img{
    width: 6em;
    height: 4em;
    border: 1px solid black;
}
.conteTeam{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
button{
    text-align: center;
}
.datePtd{
    margin-top: 37px;
    display: flex;
    flex-direction: row-reverse;
}
.btnInfo{
    padding: 10px;
    border:2px solid #742f37;
    border-radius: 5px;
    background: #fff;
    box-shadow: black; 
    width: 96px;
    margin-bottom: 12px;
}