.contePrincipal{
    width: 100%;
    background-color: #742f37;
    margin-bottom: 1rem;

}
.conteiner{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
ul {
    list-style: none;
    margin: auto;
    margin-bottom: 16px;
}
li{
    display: inline-block;
    margin-right: 2pc;
}