.conteinerNav{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
}
.linkClass{
    margin-top: 16px;
    margin-right: 16px;
}
p {
    padding-bottom: 0px;
    margin-left: 16px;
    margin-bottom: 0px;
}