.conteinerP{
    display: flex;
    flex-direction: column;
}
table{
    width: 100%;
    border: 12px solid white;
    margin-bottom: 1rem;
}
h2{
    display: block;
}
.btnStand{
    margin-left: 246px;
}
.lblStands{
    margin-left: 467px;
}
.conteTablaE{
    border: 5px solid white;
}
.thName{
    display: inline-block;
    margin-left: 41px;
}