.conteinerP{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
table{
    border: 12px solid #742f37;
    margin-bottom: 1rem;
}
h2{
    display: block;
    margin-bottom: 20px;
}
.btnStand{
    margin-left: 246px;
    width: 127px;
}
.lblStands{
    margin-left: 467px;
}
.conteTablaE{
    border: 15px solid white;
}
table img{
    margin-right: 12px;
    margin-left: 44px;
}
