.teamContainer{
    display: inline-block;
    border: 12px solid white;
    margin-right: 12px;
    margin-left: 39px;
    margin-bottom: 15px;
    text-align: center;
}
h3{
    margin: 0px;
}
p{
    margin: 0px;
    padding: 0px;
}